#form {
  display: flex;
  flex-direction: column;
  text-align: start;
  background-color: rgba(7, 69, 203, 0.242);
  padding: 50px;
  width: 900px;
  align-items: center;
}
.field {
    margin-bottom: 10px;
}

label {
    display: block;
    font-size: 12px;
    color: white;
}

.field input {
  display: block;
  min-width: 250px;
  line-height: 1.5;
  font-size: 14px;
  border-radius: 5%;
  margin: 10px;
  background-color: rgba(20, 78, 203, 0.242);
  color:white;
}


.form{
  display: flex;
  flex-direction: column;
  text-align: start;
  background-color: rgba(7, 69, 203, 0.242);
  padding:50px;
  width: 900px;
  align-items: center;
}
.textArea{
  margin-top: 30px;
  padding:15px;
  height: 200px;
  width: 500px;
  border-radius: 2%;
  text-align: justify;
  background-color: rgba(20, 78, 203, 0.242);
}
input[type="submit"] {
  display: block;
  font-size: 14px;
  background-color: #4460aa;
  color: #fff;
  border: none;
  text-align: center;
}