*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    text-decoration: none;
    scroll-behavior: smooth;
}
a{
    text-decoration: none;
}
.imgDeveloper{
    height: 250px;
    border-radius: 5%;
}
.technologies{
    max-width: 1000px ;
    margin: 30px ;
    & p{
        margin: 30px ;
        color: white;
    }
}
.Languages {
    font-size: 40px;;
}
.html{
    color:orangered
}
.css{
    color:blue;
}
.js{
    color: yellow
}


.frontend{
    font-size: 60px;
}
.animationTypingContainer{
    display: inline-block;
    color: white;
}
.animationTyping{
    border-right: 5px solid; 
    overflow: hidden;
    width: 100%;
    white-space: nowrap;
    animation:
        typing 2.5s steps(20),
        cursor .50s step-end infinite alternate;
}
@keyframes cursor {
    50%{ border-color: transparent }
}
@keyframes typing {
    from { width: 0 }
}
@media (max-width: 950px) {
  
    .animationTyping{
        font-size: 25px;
    }
    .technologies{
        font-size: 20px;
        & p {
            color: white;
        }
    }
    .imgDeveloper{
        margin-top: 30px;
        height: 100px;
    }
    
}