*{
    box-sizing: border-box;
    margin: 0;
    padding:0 15px 0 15px;
    text-decoration: none;
    scroll-behavior: smooth;
}
body {
    display: flex;
    flex-direction: column; 
    flex-wrap: wrap;
    height: auto;
    min-height: 100vh;
}
header{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    height: 100px;
}
.logo{
    display: flex;
    align-items: center;
    margin-left: 50px;
    font-size: 30px;
}
.divGreeting{
    display: flex;
    flex-direction: column;
    text-align: center;
    justify-content: center;
    height:100px;
    width:300px;
    
}
.navContainer{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap: 55px;
    font-size: 30px;
}
.opacity{
    opacity: 1;
    transition: opacity 1830ms cubic-bezier(0.075, 0.82, 0.165, 1);
}
.opacity:hover {
    opacity: 0.5;
}
main{
    flex-grow: 1;
    width: 100%;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: space-around;
    display: flex;
    flex-direction: column;
}

.dinamicDiv{
    display: flex;
    align-items: center;
    flex-direction: row;
    height: auto;
}
.imgDeveloper{
    height: 400px;
    border-radius: 5%;
}
.technologies{
    display: block;
    margin: 50px ;
}
.html{
    color:orangered
}
.css{
    color:blue;
}
.js{
    color: yellow
}
.form{
    display: flex;
    flex-direction: column;
    text-align: start;
    background-color: rgba(7, 69, 203, 0.242);
    padding:50px;
    width: 900px;
    align-items: center;
}
.form input{
    background-color: rgba(20, 78, 203, 0.242);
    border-radius: 5%;
    margin: 10px;
}
.textArea{
    margin-top: 30px;
    padding:15px;
    height: 200px;
    width: 500px;
    background-color: rgba(20, 78, 203, 0.242);
    text-align: center;
    border-radius: 2%;
}
.htmlCssJs {
    font-size: 40px;;
}

.frontend{
    font-size: 60px;
}
.animationTypingContainer{
    display: inline-block;
}
.animationTyping{
    border-right: 5px solid;
    overflow: hidden;
    width: 100%;
    white-space: nowrap;
    animation:
        typing 2.5s steps(20),
        cursor .4s step-end infinite alternate;

}
@keyframes cursor {
    50%{ border-color: transparent }
}
@keyframes typing {
    from { width: 0 }
}
.about{
    max-width: 60%;
}
.dinamicDivAbout{
    display: flex;
    gap: 40px;
    flex-direction: column;
    flex-wrap: wrap;
    align-items: center;
}
.aboutH{
    font-size: 40px;
}