*{
    box-sizing: border-box;
    margin: 0;
    padding:0 15px 0 15px;
    text-decoration: none;
    scroll-behavior: smooth;
}
body {
    display: flex;
    flex-direction: column; 
    flex-wrap: wrap;
    height: auto;
    min-height: 100vh;
    background-color : black;
}
header{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    height: 100px;
    padding: 10px;
}
main{
    flex-grow: 1;
    width: 100%;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: space-around;
    flex-direction: column;
}

section{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    height: auto;
}
.logo{
    display: flex;
    justify-content: flex-start;
    align-items: center;
    font-size: 30px;
}

.navContainer{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap: 35px;
    font-size: 30px;
}
.opacity{
    opacity: 1;
    transition: opacity 1830ms cubic-bezier(0.075, 0.82, 0.165, 1);
}
.opacity:hover {
    opacity: 0.5;
}
.mainContainer{
    padding:0;
}
p{
    color:white;
}





